@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>ClansService</h1>
</div>

<div class="row" data-bind="foreach: clans" >

    <div class="col-lg-3">
        <div class="thumbnail">
            <h3 data-bind="text: Name"></h3>
            <a href="#"><span class="glyphicon glyphicon-expand" ></span>Details</a>

        </div>
    </div>
</div>